	<div id="menubar">
	  <div id="welcome">
	    <h1><a href="#"><%= menubar.welcome%></a></h1>
	  </div><!--close welcome-->
      <div id="menu_items">
	    <ul id="menu">
            <%if(current==='index'){%>
            <li class='current' ><a href="/v1/api/index"><%= menubar.Home%></a></li>
            <%}else{%>
            <li><a href="/v1/api/index"><%= menubar.Home%></a></li>
            <%}%>
            <%if(current==='skill'){%>
            <li class ='current'><a href="/v1/api/index/skills"><%= menubar.Skill%></a></li>
            <%}else{%>
            <li><a href="/v1/api/index/skills"><%= menubar.Skill%></a></li>
            <%}%>
            <%if(current==='contact'){%>
            <li class="current"><a href="/v1/api/index/contact"><%= menubar.Contact%></a></li>
            <%}else{%>
            <li><a href="/v1/api/index/contact"><%= menubar.Contact%></a></li>
            <%}%>

          <li><select id="pageLang" onchange="langChange()">
                  <option value="cn">中文
                  <option value="en">English
              </select></li>
          <li><select id="pageStyle" onchange="styleChange()">
                  <option value="skynight">skynight
                  <option value="bigg">bigg
              </select></li>
        </ul>
      </div><!--close menu-->
    </div><!--close menubar-->

    <script type="text/JavaScript">
        var langObj = document.getElementById("pageLang");
        var styleObj = document.getElementById("pageStyle");
        function langChange(){
            var lang = langObj.options[langObj.selectedIndex].value;
            localStorage.langSelectedIndex = langObj.selectedIndex;
            localStorage.langSelectedValue = lang;
            var style = localStorage.styleSelectedValue||"";
            var lang = localStorage.langSelectedValue||"";
            var urlpre = window.location.href.split('?')[0];
            window.location = urlpre+"?pageLang="+lang+"&pageStyle="+style
        }
        function styleChange(){
            var style = styleObj.options[styleObj.selectedIndex].value;
            localStorage.styleSelectedIndex = styleObj.selectedIndex;
            localStorage.styleSelectedValue = style;
            var style = localStorage.styleSelectedValue||"";
            var lang = localStorage.langSelectedValue||"";
            var urlpre = window.location.href.split('?')[0];
            window.location = urlpre+"?pageLang="+lang+"&pageStyle="+style
        }
        window.onload = function(){
            console.log('window onload');
            if( !localStorage.styleSelectedIndex){
                localStorage.styleSelectedIndex = 0;
            }
            if( !localStorage.langSelectedIndex){
                localStorage.langSelectedIndex = 0;
            }
            styleObj.options[ localStorage.styleSelectedIndex ].selected = true;
            langObj.options[ localStorage.langSelectedIndex ].selected = true;
            var style = localStorage.styleSelectedValue||"";
            var lang = localStorage.langSelectedValue||"";
            var urlpre = window.location.href.split('?')[0];
            if(window.location.href.indexOf("pageStyle")==-1){
                window.location = urlpre+"?pageLang="+lang+"&pageStyle="+style
            }
        }
    </script>
