<div id="bigg-footer">
<div class="wrap">
        <div class="twocol">
            <div id="text-2" class="widget widget_text"><div class="widget-wrap"><h4 class="widgettitle"><%= header.title%></h4>
			<div class="textwidget"><ul class="plain-list">
<li><a href="/v1/api/index?pageStyle=bigg"><%= menubar.Home%></a></li>
<li><a href="/v1/api/index/skills?pageStyle=bigg"><%= menubar.Skill%></a></li>
<li><a href="/v1/api/index/contact?pageStyle=bigg"><%= menubar.Contact%></a></li>
</ul>
</div>
		</div></div>
        </div>
        <div class="twocol">
            <div id="text-3" class="widget widget_text"><div class="widget-wrap"><h4 class="widgettitle">Community</h4>			<div class="textwidget"><ul class="plain-list">
<li><a href="#">Twitter</a></li>
<li><a href="#">Facebook</a></li>
<li><a href="#">Google+</a></li>
<li><a href="#">Wechat</a></li>
</ul>
</div>
		</div></div>
</div>
<div class="fourcol">
    <div id="text-4" class="widget widget_text"><div class="widget-wrap"><h4 class="widgettitle">Enjoy Face AI</h4>
        <div class="textwidget"><a href="/v1/api/facePlusPlus" target="view_window"><p>Face++</p></a>
        </div>
    </div>
    </div>
</div>
<div class="fourcol">
    <div id="text-4" class="widget widget_text"><div class="widget-wrap"><h4 class="widgettitle">Enjoy Face Baidu</h4>
            <div class="textwidget"><a href="/v1/api/faceBaidu" target="view_window"><p>Face BAIDU</p></a>
            </div>
        </div>
    </div>
</div>
<div class="fourcol last">
    <div id="text-5" class="widget widget_text"><div class="widget-wrap"><h4 class="widgettitle"><%= footer.Dashboard%></h4>
    <a class="button" href="/v1/api/login" target="view_window">Login</a></div>
    </div></div>
</div>
    <div class="footer-copyright clear" style="text-align: center">
        <a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="view_window">蜀ICP备17023608号</a>
        |<span id="footer-copyright-year"><%= footer.copyright%></span>
        |<a href="mailto:nowindxdw@126.com"><%= footer.designer%></a>
    </div>
        </div>
</div>
 
</div><!-- end #wrap -->


</div>
</body>
</html>